#people {
    margin: 0;
    width: 100vw;
    height: auto;
    background-color: var(--bg-color-white);
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 4rem !important;
        font-family: serif;
        letter-spacing: 8px;
        font-weight: bold;
        color: grey;
        padding: 3rem 1rem;
    }

    .people-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .card {
        text-align: justify;
        background-color: grey;
        color: white;
    }
    
    #more-card-details {
        display: none;
    }
    
    #my-more-Btn {
        background-color: rgb(255, 217, 0);
        padding: 5px 10px;
        border-radius: 24px;
        border: 2px solid white;
        color: white;
        font-family: serif;
    }

}